body {
    font-family: 'Comfortaa', sans-serif;
font-family: 'Lato', sans-serif;
background-image: url(./images/bg-header-desktop.png);
}
html {
    box-sizing: border-box;
}


img-logo {
    width: 400px;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 50px;
    height: 30px;
    color: white;
    border-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.btn1 {
    background-color: rgb(62, 141, 62);
    margin-right: 10px;
}

.btn2 {
    background-color: rgb(125, 125, 232);
}

.Keep-track {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-comp {
    width: 300px;
    margin-top: 10px;
}
.computer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.Access{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-devices{
    width: 500px;
    display: flex;
}
.Supercharge{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blacklists{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
}
.img-blacklist{
    width: 50px;
}
.Plain-text{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
}
.text-img{
    width: 50px;
}
.Sneak{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
}
.preview-img{
    width: 50px;
}
.Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}
.google-img{
    width: 100px;
}
.ibm-img{
    width: 100px;
}
.microsoft-img{
    width: 100px;
}
.hp-img{
    width: 100px;
}
.vector-img{
    width: 100px;
}
.Clipboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-menu{
display: flex;
gap: 30px;
}
.footer-logo{
    width: 25px;
}
.socials{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.facebook-img{
width: 10px;
height: 15px;

}
.twitter-img{
    width: 10px;
    height: 15px;
}
.ig-img{
    width: 10px;
    height: 15px;
}
.companies{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.button-second{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}
.footer-menu{
    margin-top: 50px;
    background-color: rgb(249, 249, 242);
    height: 90px;
    padding: 20px;
    height: 50px;
}
.one{
display: flex;
flex-direction: column;
gap: 20px;
align-content: center;
}
.two{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width:600px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(./images/bg-header-mobile.png);
    }
    
    .button{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .computer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .Keep-track {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Access{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Supercharge{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    .companies{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Clipboard{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .button-second{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px;
        width: 100%;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        background-color: rgb(249, 249, 242); 
        height: fit-content;
        width: 100%;
    }
    .img-comp{
        width: 300px;
    }
    .img-devices{
        width: 300px;
        
    }



}
